.NotifyItem{ position:absolute; border-radius:4px; padding:2px 6px; 
	color:white; font-size:16px; font-weight:400; z-index: 8000;}

.NotifyItem.msg{ background-color:green; cursor:pointer;  }
.NotifyItem.err{ background-color:red; cursor:pointer; }

.NotifyItem.confirm{ background-color:#505050; display:flex; flex-direction:row; align-items:center; }
.NotifyItem.confirm button{ margin: 2px 0px 2px 7px; padding:0px 4px; 
	background-color:#606060; border:1px solid gray; color:white;
	font-size:12px; text-transform: uppercase;
	cursor:pointer; }

.NotifyItem.confirm button:hover{ border-color:white; }
.NotifyItem.confirm button:focus{ outline:0; }