:root{
    --head-bg               : #3d4145;
    --text-col              : #b6b9be;
    --secondary-bg          : #c8cad0;
    --secondary-bg-hover    : #838488;
    --secondary-txt         : #2f3137;
    --font-size             : 12px;
}

/* #region prop-panel-btncont */
prop-panel-btncont{ position:absolute; bottom:10px; right:10px; }
.prop-panel-btncont{ width:50px; height:50px; position:relative; }
.prop-panel-btncont > button{
    background-color: gray;
    position:absolute; width:50px; height:50px; bottom:0px; right:0px;

    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    border:none; border-radius:50%; padding:4px; margin:0px;
    
    display:flex; flex-direction:column; align-items: stretch;
    box-sizing:border-box; cursor:pointer;

    transition: all 0.3s ease-in-out;
}

.prop-panel-btncont > button > div{
    border-radius:50%; background-color: gray; 
    flex: 1 1 auto; transition: all 0.3s ease-in-out;
    display:flex; justify-content: center; align-items: center;
}

.prop-panel-btncont > button svg{ fill:silver; transition: all 1s ease; }

.prop-panel-btncont > button:focus{ outline:none; }
.prop-panel-btncont > button:hover{ background-color: #00000000; box-shadow: 0px 0px 0px 4px silver; }
.prop-panel-btncont > button:hover div{ background-color:silver; }
.prop-panel-btncont > button:hover svg{ fill:white; }

.prop-panel-btncont > button.open{ background-color: #00000000; box-shadow: 0px 0px 0px 4px #00000022; }
.prop-panel-btncont > button.open div{ background-color:silver; }
.prop-panel-btncont > button.open svg{ fill:silver; }

.prop-panel-btncont > section.open{ opacity:1; transform:scale(1); }
.prop-panel-btncont > section{
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius:8px;
    position:absolute; width:00px; bottom:60%; right:60%;
    opacity: 0; transform: scale(0);
    transform-origin: bottom right;
    transition: all 0.3s ease;
}
/* #endregion //////////////////////////////////////////////////////// */

/* #region prop-panel */
.prop-panel{}
.prop-panel > header{}
.prop-panel > main{ display:flex; flex-direction:column; }
.prop-panel > footer{}
/*:host{ border:3px solid sandybrown; }
prop-panel:part(header){ border:1px solid black; }*/

/*----- THEME -----*/
.prop-panel{ background-color:#2e3136; border-radius:8px; }
.prop-panel > header{ background-color:var(--head-bg); font-weight:bold; text-align:center; border-radius:8px 8px 0px 0px; padding:5px 8px 3px 8px; }
.prop-panel > footer{ background-color:#212325; font-weight:bold; text-align:center; border-radius:0px 0px 8px 8px; padding:5px 8px 3px 8px; }

.prop-panel > main{ padding:8px; }
.prop-panel > main ::slotted(*:not(:last-child)){ margin-bottom:8px; }

/* #endregion //////////////////////////////////////////////////////// */

/* #region prop-row */

.prop-row{ display:flex; box-sizing:border-box; min-width:0px; }
.prop-row > label{ flex:0 0 30%; display:flex; justify-content:left; align-items:center; }
.prop-row > main{ flex:0 0 70%; display:flex; flex-direction:row; min-width:0px; }
/*.prop-row > main:before{ content:":"; color:red; }*/
.prop-row > main ::slotted(*){ flex: 1 1 auto; }

/* #endregion //////////////////////////////////////////////////////// */

/* #region prop-group */
.prop-group{ }
.prop-group > header{ display:flex; }
.prop-group > header > span{ flex:1 1 auto; user-select: none; }
.prop-group > header > i{ flex:0 0 25px; border:1px solid red; cursor:pointer; }
.prop-group > main{ display:flex; flex-direction:column; overflow:hidden; max-height:1500px; transition: max-height 1.5s ease-in; }
.prop-group.close > main { max-height:0px; transition-timing-function: cubic-bezier(.07,1.07,0,1.01);
    transition: all 0.9s, opacity 0.2s;  }


/*----- THEME -----*/
.prop-group > header{ background-color:var(--head-bg); padding:2px 8px 2px 8px; border-radius:4px 4px 0px 0px; }
.prop-group > header > span{ padding-top:4px; }
.prop-group > main{ border:2px solid var(--head-bg); border-width:0px 4px 4px 4px; border-radius:0px 0px 4px 4px; padding:4px; opacity:1.0; }
.prop-group.close > main{ border-width:0px; padding:0px; opacity:0.0 }
.prop-group.close > header{ border-radius:4px; }

.prop-group > main{ padding:8px; }
.prop-group > main ::slotted(*:not(:last-child)){ margin-bottom:8px; }

input.chkCircle[type=checkbox]{ position: relative; }
input.chkCircle[type=checkbox]:before{
    content:""; position:absolute;
    width:130%; height:130%; left:-15%; top:-15%;
    border-radius: 50%; background-color: #555b64;
    transition: all 0.25s ease-in-out;
}

input.chkCircle[type=checkbox]:after {
    content:""; position:absolute;
    width:130%; height:130%; left:-15%; top:-15%;
    border-radius:50%; background-color:var(--head-bg);
    transform:scale(0,0); transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
}

input.chkCircle[type=checkbox]:checked:before{ background-color:var(--secondary-bg); }
input.chkCircle[type=checkbox]:checked:after{ transform: scale(0.7, 0.7); }

/* #endregion //////////////////////////////////////////////////////// */

/* #region range & slide */
range-input{ display:flex; flex-direction:row; user-select: none; min-width:0px; height:20px; }
range-input svg{ flex:1 1 auto; }
range-input .rng_connect{ stroke:white; stroke-width:6px; stroke-linecap:round; }
range-input .rng_track{ stroke:gray; stroke-width:6px; stroke-linecap:round; }
range-input .rng_thumb { user-select: none; }
range-input .rng_thumb rect{ fill:white; rx:3px; }
range-input .rng_thumb text{ fill:black; font-size:13px; font-family: monospace; font-weight:bold; text-align:center; }

slide-input{ display:flex; flex-direction:row; user-select: none; min-width:0px; height:20px; }
slide-input svg{ flex:1 1 auto; }
slide-input .rng_connect{ stroke:white; stroke-width:6px; stroke-linecap:round; }
slide-input .rng_track{ stroke:gray; stroke-width:6px; stroke-linecap:round; }
slide-input .rng_thumb { user-select: none; }
slide-input .rng_thumb rect{ fill:white; rx:3px; }
slide-input .rng_thumb text{ fill:black; font-size:13px; font-family: monospace; font-weight:bold; text-align:center; }
/* #endregion //////////////////////////////////////////////////////// */

/* #region DragNumberInput */
drag-number-input{ display:flex; flex-direction:row; min-width:0px; }
drag-number-input div{ flex:0 0; display: flex; align-items: center; cursor:pointer; user-select: none; }
drag-number-input svg{ width:10px; height:10px; overflow:visible; transform-box: fill-box; z-index:100; }
drag-number-input svg * { transform:translate( 50%, 50% ); }
drag-number-input input{ flex:1 1 auto; min-width:0px; }

drag-number-input svg path{ visibility:hidden; }
drag-number-input.show svg path{ visibility:visible; }

/*----- THEME -----*/
drag-number-input{ background-color:#3e4146; transition: all .3s ease-out; border-radius:10px 4px 4px 10px; }
drag-number-input:focus-within{ background-color:#4e4f56; }

drag-number-input div{ padding:0px 0px 0px 5px; }
drag-number-input svg path:nth-of-type(1){ stroke: white;stroke-dasharray: 2px 2px; }
drag-number-input svg path:nth-of-type(2){ stroke: white; stroke-width:3px; }

drag-number-input svg circle{ fill:gray; transition: all .3s ease-out; }
drag-number-input svg circle:hover{ fill:white; }
drag-number-input.show svg circle{ fill:white; }

drag-number-input input{ padding: 2px 6px 2px 2px; border:none; background-color:transparent;
	text-align:right; color:gray; font-size:var(--font-size); transition: all .3s ease-out; }

drag-number-input  input::-webkit-inner-spin-button, 
drag-number-input  input::-webkit-outer-spin-button{ display:none; }

drag-number-input input:hover{ color:#ffffff; }
drag-number-input input:focus { outline:0; color:white; } 

drag-number-input.show input{ color:white; }

/* #endregion */

/* #region Check Button */
check-button{ display:flex; flex-direction:row; overflow:hidden; }
check-button input{ position:absolute !important; clip:rect(0,0,0,0); overflow:hidden; height:1px; height:1px; border:0px; }
check-button label{ flex:1 1 auto; user-select: none; -ms-user-select: none; cursor: pointer; }

check-button label{
    font-family         : "Lucida Console", Monaco, monospace;
    font-size           : var(--font-size);
    text-align          : center ;
    color               : var(--text-col);
    background-color    : var(--head-bg);
    border-radius       : 4px;
    padding             : 3px 6px 2px 6px;
    transition          : all 0.2s ease-in-out;
}

check-button input:checked + label{ background-color:var(--secondary-bg); color:var(--secondary-txt); }

check-button.onoff label:after { content:"OFF"; }
check-button.onoff input:checked + label:after { content:"ON"; }
    
check-button.yesno label:after { content:"NO"; }
check-button.yesno input:checked + label:after { content:"YES"; }

check-button.tf label:after { content:"FALSE"; }
check-button.tf input:checked + label:after { content:"TRUE"; }

check-button.check label:after { content:"\2716"; font-size:var(--font-size); }
check-button.check input:checked + label:after { content:"\2714";  font-size:var(--font-size); }
/* #endregion */

/* #region INPUT STYLES */

/*
https://codepen.io/ShanKris/pen/EXYMxg awesome TrueFalse Toggle
https://webdesign.tutsplus.com/tutorials/toggle-switch-component-with-css-checkbox-hack--cms-35011  EVEN BETTER TOGGLE

https://lokesh-coder.github.io/pretty-checkbox/
https://codepen.io/aaroniker/pen/abzgWEx Cool SVG PLUS MINUS ICON
https://codepen.io/aaroniker/pen/ZEYoxEY

https://codepen.io/LeonardMeagher2/pen/NvOLZr
https://codepen.io/abergin/pen/kjwBz/
*/

.prop-panel,
.prop-panel button,
.prop-panel select{
    font-family : "Lucida Console", Monaco, monospace;
    font-size   : var(--font-size);
    color       : #b6b9be;
}

/* SELECT */
.prop-panel select{ border:none; border-radius:4px; background-color:var(--secondary-bg); padding:3px 6px; color: var(--secondary-txt); }
.prop-panel select:focus{ outline:0; background-color:#aaabb1; }

/* TEXTBOX */
.prop-panel input[ type="text" ]{
	border:none; background-color:#3e4146; padding:2px 0px 2px 6px; color:gray;
	border-radius:4px; font-size:var(--font-size);
	transition: all .3s ease-out; }

.prop-panel input[ type=text ]:hover{ color:#ffffff; }
.prop-panel input[ type=text ]:focus { outline:0; background-color:#4e4f56; color:white; } 

/* RANGE */
.prop-panel input[type=range] { margin:1px; box-sizing: border-box; -webkit-appearance: none; min-height:20px; border-radius:5px;}
.prop-panel input[type=range]:focus{ outline:0; background-color:#404040; border-color:#c0c0c0; color:white; }
.prop-panel input[type=range]::-webkit-slider-thumb{ -webkit-appearance: none; height:100%; width:40px; background: #727272; border-radius:4px; cursor: pointer; }
.prop-panel input[type=range]::-webkit-slider-runnable-track{ height: 100%; cursor: ew-resize; background: #303030; border:1px solid #555555; border-radius:5px; transition: all 0.3s ease-out; }
.prop-panel input[type=range]:focus::-webkit-slider-runnable-track{ background-color:#404040; border-color:#c0c0c0; }

/* BUTTON */
.prop-panel button{ border:none; border-radius:4px; background-color:var(--secondary-bg); padding:3px 6px 2px 6px; color: var(--secondary-txt); }
.prop-panel button:active{ background-color:var(--secondary-bg-hover); }
.prop-panel button:focus{ outline:0; }

/* #endregion //////////////////////////////////////////////////////// */